@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&family=Poppins:wght@300&display=swap');

:root {
    --q-dark: #2c3e50;
    --q-negative: #f44336;
    --app-bg: #f9fafb;
    --highlighter: #83d8ae;
    --box-shadow: 1px 1px 7px rgb(154 154 204 / 10%);
    --q-primary: #2B3467;
    --q-secondary:#BAD7E9;
    --q-primary-click: #1e2b37;
    --fc-border-color: #ecedee;
    --fc-today-bg-color: #ebfff6;
    --q-info: #1e2b37;
    --q-warning: #a9113e;
    --q-accent: #dfdfdf;
  }
  body {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--app-bg);
  }